# CyberArk PAS vars
# Do NOT append "/PasswordVault/" to the endpoint
PAS_ENDPOINT="https://pasvault.example.com"
PAS_USER="myadmin"
PAS_PASS="user password"


# HC Vault vars
VAULT_ADDR="https://hcvault.example.com:8200"
VAULT_SKIP_VERIFY=false   # Use only if using self-signed certificate
VAULT_TOKEN="api token"

